@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Space+Grotesk&display=swap');

:root {
    --cor-principal: #921A40;
    --cor-secundaria: #C75B7A;;
    --cor-terciaria: #D9ABAB;
    --cor-quaternaria: #F4D9D0;
    --fonte-principal: "Questrial", sans-serif;
    --fonte-secundaria: "Space Grotesk", sans-serif;
    --tamanho-grande: 2.5rem;
    --tamanho-pequeno: 1rem;
    --tamanho-medio: 1.5rem;
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

.cabecalho {
    background-color: var(--cor-principal);
    padding: 2%;
    width: 100%;
    position: fixed;
}

.cabecalho__menu {
    display: flex;
    gap: 2%;
    justify-content: center;
    width: 93%;
}

.cabecalho__menu__link {
    color: var(--cor-quaternaria);
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-medio);
    text-decoration: none;
    transition: .3s;
}

.cabecalho__menu__link:hover,
.active {
    color: var(--cor-secundaria);
}


.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-quaternaria);
    width: 100%;
}

#principal__home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
    gap: 1rem;
    text-align: center;
    min-height: 100vh;
}

.principal__titulo {
    color: var(--cor-principal);
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-grande);
}

#principal__carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 1% 5%;
}

.principal__texto {
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-pequeno);
}

.principal__imagem {
    border-radius: 2%;
}

.principal__imagem-home {
    width: 40%;
    height: 15%;
}

#principal__fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1%;
    padding: 1% 5%;
}

.principal__fotos__galeria {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--cor-principal);
    padding: 5%;
    border-radius: 2% 2% 2% 0%;
}

.principal__fotos__galeria__conjunto {
    display: flex;
    gap: 40px;
}

.rodape {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    background-color: var(--cor-principal);
    color: white;
    padding: 2%;
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-medio);
}

section:nth-child(odd) {
    background-color: var(--cor-terciaria);
}

@media(max-width: 1200px) {

    body {
        max-width: 100%;
    }

    .principal {
        overflow: hidden;
        box-sizing: border-box;
    }

    .cabecalho {
        width: 100%;
    }

    .cabecalho__menu {
        width: 90%;
        justify-content: center;
    }

    .cabecalho__menu__link {
        font-size: var(--tamanho-medio);
    }

    #principal__home {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: auto;
    }

    .principal__titulo {
        font-size: var(--tamanho-medio);
    }

    .principal__imagem-home {
        width: 50%;
        height: 20%;
    }

    .principal__fotos__galeria {
        width: 60%;
        margin-bottom: 5%;
    }

    .principal__fotos__galeria__conjunto {
        flex-direction: column;
    }

    .principal__imagem {
        width: 100%;
        height: 50%;
    }

    .rodape {
        font-size: var(--tamanho-pequeno);
        gap: 8px;
        height: 100%;
    }
}